body { background: #be158e; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 56px; display: flex; }
.block-cart-0 { color: #976d6c; font-size: 12px; margin-bottom: 5px; }
.block-filter-1 { color: #bc3033; font-size: 13px; margin-bottom: 5px; }
.block-order-2 { color: #340736; font-size: 16px; margin-bottom: 5px; }
.block-cart-3 { color: #5f421b; font-size: 19px; margin-bottom: 5px; }
.block-cache-4 { color: #3bd3fc; font-size: 12px; margin-bottom: 5px; }
.block-sms-5 { color: #bb4ff3; font-size: 16px; margin-bottom: 5px; }